name: Create Package Version Manual

on:
  workflow_dispatch:
    inputs:
      runApexTest:
        type: choice
        description: 'Run Apex Code Coverage'  
        options: 
        - true
        - false  
        required: true
        default: 'true'
      skipValidation:
        type: choice
        description: 'Skip Package Validation'     
        options: 
        - true
        - false  
        required: true
        default: 'false'  
      packageName:
        type: choice
        description: Package Name
        required: true
        options: 
        - app1
        - app2
        - core
      waitTime:
        description: 'Wait time to create Package'     
        required: true
        default: 1000    

jobs:
  createVersion:
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/workflows/Base/CreatePackageVersion.yml
        with:
          runApexTest: ${{ inputs.runApexTest }}
          skipValidation: ${{ inputs.skipValidation }}
          packageName: ${{ inputs.packageName }}
          runApexTest: ${{ inputs.username }}
          token: ${{ secrets.envPAT }}
        secrets:
          RSA_PRIVATE_KEY: ${{ secrets.RSA_PRIVATE_KEY }}
          DEVHUB_clientid: ${{ secrets.DEVHUB_clientid }}
