name: Create Package Version Manual

on:
  workflow_dispatch:
    inputs:
      runApexTestInput:
        type: choice
        description: 'Run Apex Code Coverage'  
        options: 
        - true
        - false  
        required: true
        default: 'true'
      skipValidationInput:
        type: choice
        description: 'Skip Package Validation'     
        options: 
        - true
        - false  
        required: true
        default: 'false'  
      packageNameInput:
        type: choice
        description: Package Name
        required: true
        default: 'core'
        options: 
        - app1
        - app2
        - core
      waitTimeInput:
        description: 'Wait time to create Package'     
        required: true
        default: 1000    

jobs:
  createVersion:
    uses: ./.github/workflows/Base/CreatePackageVersion.yml
    with:
      runApexTest: ${{ inputs.runApexTestInput }}
      skipValidation: ${{ inputs.skipValidationInput }}
      packageName: ${{ inputs.packageNameInput }}
      waitTime: ${{ inputs.usernameInput }}