name: Install Release To Sandbox

on:
  workflow_dispatch:

jobs:
  InstallPackages:
    runs-on: ubuntu-latest
    container:
      image: jfgarcia268/vlocity_sfdx:core
    steps:  
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Login DevHub
      run: |
        echo "${{ secrets.RSA_PRIVATE_KEY }}"   > server.key
        sfdx auth:jwt:grant --clientid ${{ secrets.DEVHUB_clientid }}  --jwtkeyfile server.key --username demo.org@communications-b2c.1677243042259 --instanceurl https://login.salesforce.com --setalias DEVHUB
    - name: Login Sandbox
      run: |
        echo "${{ secrets.RSA_PRIVATE_KEY }}"   > server.key
        sfdx auth:jwt:grant --clientid ${{ secrets.DEVHUB_clientid }}  --jwtkeyfile server.key --username ${{ secrets.UAT_SANDBOX_USERNAME }} --instanceurl https://test.salesforce.com --setalias UAT
    - name: Core - Install Salesforce Package
      run: |
        sfdx org:list
        ./scripts/bash/Get_Latest_Version_Package.sh DEVHUB core
        PACKAGE_ID=$(cat core_PID.txt)
        echo "PACKAGE_ID:${PACKAGE_ID}"
        sfdx package:install --package ${PACKAGE_ID} --target-org UAT --wait 1000 --publish-wait 1000 --security-type AdminsOnly --installation-key ${{ secrets.PACKAGES_KEY }}
    - name: App1 - Install Salesforce Package
      run: |
        sfdx org:list
        ./scripts/bash/Get_Latest_Version_Package.sh DEVHUB App1
        PACKAGE_ID=$(cat App1_PID.txt)
        echo "PACKAGE_ID:${PACKAGE_ID}"
        sfdx package:install --package ${PACKAGE_ID} --target-org UAT --wait 1000 --publish-wait 1000 --security-type AdminsOnly --installation-key ${{ secrets.PACKAGES_KEY }}
    - name: App2 - Install Salesforce Package
      run: |
        sfdx org:list
        ./scripts/bash/Get_Latest_Version_Package.sh DEVHUB App2
        PACKAGE_ID=$(cat App2_PID.txt)
        echo "PACKAGE_ID:${PACKAGE_ID}"
        sfdx package:install --package ${PACKAGE_ID} --target-org UAT --wait 1000 --publish-wait 1000 --security-type AdminsOnly --installation-key ${{ secrets.PACKAGES_KEY }}

